@use '@blueprintjs/colors/lib/scss/colors' as *;

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  width: 100%;
  background-color: $dark-gray2;
}
